html,body {
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}

.nested {
	min-height: 100px;
}

.content-area {
	background-color: #F8F8F8;
	width: auto;
	min-height: 100%;
	min-width: 100%;
}

#siteTitle {
	font-size: 1.1em;
    display: table-cell;
    vertical-align: middle;
}

.grouptitle {
	color:white;
	width:auto;
	font-style: bold;
	cursor: pointer;
}

#siteHeader { 
	min-width: 100%;
	height: 25px;
    background-color: #034f84;
    color: white;
    display: table;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.column-area-primary {
	float: left;
	width: auto;
	min-height: 100%;
	min-width: 200px;
	background-color: lightgray;
	border-right: solid 1px black;
}
.column-area-secondary {
	float: left;
	width: auto;
	min-height: 100%;
	min-width: 200px;
	background-color: #E0E0E0;
}

.group {
	width: auto;
	color: white;
	max-width: 200px;
	min-height: 150px;
	background-color: #484848;
	cursor: grab;	
	margin: 5px;
	padding: 5px;
	border-radius: 1px;	
	font-size: 16px;
    border-style: solid;
    border-width: 1px;	
    border-color: gray;
    word-wrap: break-word;
    box-shadow: 1px 1px 1px gray;
    border-color: gray;
}

.item {
	width: auto;
	max-width: 200px;
	color:black;
	background-color: white;
	cursor: grab;	
	margin: 5px;
	padding: 5px;
	border-radius: 3px;	
	font-size: 14px;
    border-style: solid;
    border-width: 1px;	
    border-color: gray;
    word-wrap: break-word;
    box-shadow: 1px 1px 1px gray;
    border-color: gray;
}