#done{
    width: 95%;
	margin: 5px;
}

#newGroupButton {
	background-color: #FFC107;
    opacity: 0.7;
}

#newGroupButton:hover{
	 opacity: 1;
}

#dropZoneParent {
    height: 100%;
}

#initialColumn {
	height: calc(100vh - 50px);
	background-color:#78909C;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.dropZone {
	height: calc(100vh - 50px);
	background-color:#455A64;
	padding-right: 15px !important;
	margin-left: 0px !important;
}

.group {
	width: 100%;
	color: black;
	background-color: rgb(219,221,224);
	margin-top: 7px;
	border-radius: 3px;	
    word-wrap: break-word;
    cursor: move;
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
	 -ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for webkit */
    word-break: break-word;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}

.group .contenteditable {
	background-color: white;
	color: black !important;
}

.group .title {
	color: black;
	cursor: pointer;
	font-size: 14px;
	padding: 5px;
}

.group .closeicon {
	cursor: pointer;
	color: gray;
	float: right;
	margin: 5px;
}

.group .closeicon:hover {
	color: black;
}

.group .iconContainer{
	text-align: center;
}

.group .grabicon {
	cursor: move;
	color: gray;
}

.group .droparea {
	padding: 2px;
	cursor: default;
	min-height: 50px;
}

.item {
	cursor: move;
	color: black;
	background-color: white;
	cursor: grab;	
	margin: 5px;
	padding: 5px;
	border-radius: 1px;	
	font-size: 16px;
	word-wrap: normal;
    border: solid 1px gray;
	/* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
	 -ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for webkit */
    word-break: break-word;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}

.item:hover {
   font-weight: 500;
   border: solid 1px black;
}