
#hamburger{
	padding-right: 10px;
}

#done {
	margin: 5px;
}

#newGroupButton{
	width: 90%;
	color: black;
	padding: 10px;
	background-color: rgb(219,221,224);
	margin: 15px;
	border-radius: 4px;	
    opacity: 0.5;
    text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
#newGroupButton:hover{
	 opacity: 0.78;
}

.custom-row {
    height: 100%;
}

#initialColumn {
	height: 100%;
	background-color: 	#C8C8C8;
}

.dropZone {
	height: 100%;
	background-color: white;
	border: solid lightgray 1px;
}

.group {
	width: 90%;
	color: black;
	min-height: 150px;
	background-color: rgb(219,221,224);
	margin: 15px;
	border-radius: 4px;	
    word-wrap: break-word;
    cursor: move;
    display: table;
    border: solid 1px lightgray;
}

.group .contenteditable {
	background-color: white;
	color: black !important;
}

.group .title {
	color: black;
	cursor: pointer;
	font-size: 14px;
	padding: 5px;
}

.group .closeicon {
	cursor: pointer;
	color: gray;
	float: right;
	margin: 5px;
}

.group .iconContainer{
	text-align: center;
}

.group .grabicon {
	cursor: move;
	color: gray;
}

.group .droparea {
	background-color: #B0B0B0;
	padding: 2px;
	cursor: default;
	min-height: 150px;
}

.item {
	width: auto;
	cursor: move;
	color: black;
	background-color: white;
	cursor: grab;	
	margin: 5px;
	padding: 5px;
	border-radius: 3px;	
	font-size: 14px;
	word-wrap: break-word;
}