html, body {
    height:100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

body.background-gray {
    background-color: #607D8B;
}

body.background-white {
    background-color: white;
}

body.background-darkbluegray {
    background-color: #455A64;
}

h1, h2 {
    font-weight: 300;
    color: black;
}

h3 {
    margin-top: 0px;
    font-weight: 400;
}

h3.header {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

#version  {
    color: white;
    font-size: 12px;
    text-decoration: none;
}
#version:hover  {
    text-decoration: underline;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-wide{
    width: 95%;
    margin-top: 2.5%;
}

.navbar {
    border: 0px !important;
    margin-bottom: 0px;
}

.custom_topbar {
    background-color: #607D8B;
}

.custom_topbar .navbar-brand {
    color: white;
}

.custom_topbar .navbar-brand:hover {
    color: white !important;
}

.btn-amber {
    background-color: #FFC107 !important;
    color:black !important;
}

.icon-sm{
    font-size: 10px;
}

.radio-inline label {
    font-weight: normal;
}

.well {
    background: #F8F8F8;
    border-radius: 1px;
    border: 0px;
    border-bottom: 3px solid gray;
}

/*dropdown messages are hidden by default*/
.errorMessage, .successMessage, .loginMessage {
    display:none;
}

/*index.ejs specific styles*/
#bgcontainer {
    background-color:#546E7A;
    border-radius: 2px;
    padding:25px;
}

#siteTitle {
    font-size: 80px;
    color: #FFC107;
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 14px;
}
#siteSubtitle {
    font-size: 25px;
    margin-bottom: 30px;
    color:white;
}

/*datatable specifc styles*/
table.dataTable tbody td {
    vertical-align: middle;
}
