html,body {
    height:100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
h1, h2 {
    font-weight: 300;
    color: black;
}
h3 {
    margin-top: 0px;
    font-weight: 400;
}
h3.header {
    /*color:#5cb85c;*/
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar {
    border: 0px !important;
    margin-bottom: 0px;
}

.custom_topbar .navbar-brand {
    color: white;
}

.custom_topbar {

    background-color: #607D8B;
}


.btn-amber {
    background-color: #FFC107 !important;
    color:black !important;
}

.background-gray {
    background-color: #607D8B;
}
.background-white {
    background-color: white;
}
.icon-sm{
    font-size: 10px;
}
.radio-inline label {
    font-weight: normal;
}
.well {
    background: #F8F8F8;
    border-radius: 1px;
    border: 0px;
    border-bottom: 3px solid gray;
}
.studyTitle {
    font-size: 20px;
}
.navbar-brand:hover {
    color: white !important;
}
.errorMessage, .successMessage {
    display:none;
}
.loginMessage {
    display:none;
}

.bgcontainer {
    background-color:#546E7A;
    border-radius: 2px;
    padding:25px;
}
.siteTitle {
    font-size: 80px;
    color: #FFC107;
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 14px;
}
.siteSubtitle {
    font-size: 25px;
    margin-bottom: 30px;
    color:white;
}
.container {
    margin-top: 50px;
}

.float-right {
    float: right;
}
table.dataTable tbody td {
    vertical-align: middle;
}
