html,body {
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
#top { 
	min-width: 100%;
	height: 25px;
    background-color: #034f84;
    color: white;
    display: table;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#title {
	font-size: 1.1em;
    display: table-cell;
    vertical-align: middle;
}

.groupTitle {
	background-color: #E0E0E0;
	padding: 5px;
	font-size: 14px;
}

.content-area {
	background-color: #F8F8F8;
	width: auto;
	min-height: 100%;
	min-width: 100%;
}

.floating-box-left {
	float: left;
	width: auto;
	min-height: 100%;
	min-width: 200px;
	background-color: #92a8d1;
}
.float-right {
	float: right;
}
.floating-box-right {
	float: left;
	width: auto;
	height: auto;
	min-height: 200px;
	min-width: 200px;
	margin: 10px;
	
	background-color: white; 
    box-shadow: 1px 1px 1px gray;
    border-style: solid;
    border-width: 1px;	
    border-color: gray;
}
.item {
	width: auto;
	max-width: 200px;
	background-color: white;
	cursor: grab;	
	margin: 5px;
	padding: 5px;
	border-radius: 3px;	
	font-size: 14px;
    border-style: solid;
    border-width: 1px;	
    border-color: gray;
    word-wrap: break-word;
}