

.container{
    width: 95%;
}

body {
   background-color:#455A64;
}

.productreactioncards_topbar {
    background-color: #607D8B;
}


#textArea {
    margin: 15px;
    font-size: 24px;
    color: white;
}
#cardArea {
    margin: 10px;
    padding: 0;
    width:90%;
}

#cardArea li {
    color: black;
    cursor: pointer;
    border-radius: 3px;
    width: auto;
    padding: 8px;
    background-color:white;
    font-size: 15px;
    margin: 5px;
    list-style: none;
    display: inline-block;
    position:relative;
}

#cardArea li.disabled {
    opacity: 0.15;
    cursor: default;
    pointer-events: none;
}

#cardArea li.selected {
    background-color: #FFC107;
    color:black;
}

#cardArea li.selected::before {
    content: "\f00c";
    font-family: FontAwesome;
    padding-right: 10px;
}

.btn-right {
    float:right;
    font-size: 18px;
}