
.navbar {
    border: 0px !important;
    margin-bottom: 0px;
}

body {
   /*background-color: #0097A7;*/
   background-color:#455A64;
}
.productreactioncards_topbar {
    /*background-color:#00838F;*/
    background-color: #607D8B;

}
.productreactioncards_topbar .navbar-brand {
    color: white;
}


#textArea {
    margin: 15px;
    font-size: 24px;
    color: white;
}
#cardArea {
    margin: 10px;
    padding: 0;
    width:90%;
}

#cardArea li {
    color: black;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    padding: 10px;
    background-color:white;
    font-size: 18px;
    margin: 5px;
    list-style: none;
    display: inline-block;
    position:relative;
}
#cardArea li.disabled {
    opacity: 0.15;
    cursor: default;
    pointer-events: none;
}
#cardArea li.selected {
    background-color: #78909C;
    color:white;
}
#cardArea li.selected::before {
    content: "\f00c";
    font-family: FontAwesome;
    padding-right: 10px;
}

.btn-right {
    float:right;
    font-size: 22px;
}