#textArea {
    margin: 15px;
    font-size: 24px;
    color: white;
}
#cardArea {
    margin: 10px;
    padding: 0;
    width:90%;
}
/* Style the card items */
#cardArea li {
    color:black;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    padding: 10px;
    background-color: #F0F0F0;
    font-size: 16px;
    margin: 5px;
    list-style: none;
    display: inline-block;
    position:relative;
}
#cardArea li.disabled {
    opacity: 0.15;
    cursor: default;
    pointer-events: none;
}
#cardArea li.selected {
    /*background-color: rgb(0, 107, 132);*/
    background-color: rgb(0,158,195);
    color:white;
}
#cardArea li.selected::before {
    content: "\f00c";
    font-family: FontAwesome;
    padding-right: 10px;
}