#textArea {
    margin: 15px;
    font-size: 24px;
}
#cardArea {
    margin: 10px;
    padding: 0;
    width:90%;
}

#cardArea li {
    color: black;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    padding: 10px;
    background-color: #DCDCDC;
    font-size: 18px;
    margin: 5px;
    list-style: none;
    display: inline-block;
    position:relative;
}
#cardArea li.disabled {
    opacity: 0.15;
    cursor: default;
    pointer-events: none;
}
#cardArea li.selected {
    background-color: #585858;
    color:white;
}
#cardArea li.selected::before {
    content: "\f00c";
    font-family: FontAwesome;
    padding-right: 10px;
}

.btn-right {
    float:right;
    font-size: 22px;
}