#progress {
    height: 5px;
}

#progressbar {
    background-image: none;
    background-color:#FFC107;
}

#taskDesc {
    font-size: 22px;
    width: 100%;
    padding: 15px 0px 15px 25px;
    background-color:#607D8B;
    color:white;
    vertical-align: middle;
}
#taskNum {
    font-size: 14px;
    width: 100%;
    padding: 5px 0px 5px 5px;
    color:white;
    vertical-align: middle;
}
#treeArea {
    margin-top: 25px;
    float:left;
    width: 100%;
    height: auto;
}

#tree {
  width: 100%;
}

/*for boostrap treeview*/
.node-disabled {
    display: none;
}

/* Remove margins and padding from the list */
#taskList {
    margin: 0;
    padding: 0;
    width:150px;
    float:left;
    height: 100%;
    background-color:   #D8D8D8;
}
/* Style the list items */
#taskList li {
    cursor: pointer;
    position: relative;
    padding: 5px 8px 5px 40px;
    font-size: 14px;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#taskList li.selected {
    background: #808080 !important;
    color: white !important;
}

/* Add a "checked" mark when clicked on */
#taskList li.checked::before {
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 5px;
    left: 18px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
