<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>
		
		<!-- Include D3.js -->
		<script type="text/javascript" src="/d3/d3.min.js"></script>

		<title>Cardsort Results</title>
		
	</head>
	<body>
		<a href='/admin'>Back to studies</a><br>
		<% for(var j=0; j<study.responses.length; j++) {%>
			<%= study.responses[j]+'\n' %><br>
		<% } %>
	</body>
</html>
