<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>

		<title>Desire Results</title>
		<script type="text/javascript" src="/plotlyjs/plotly.min.js"></script>
	</head>
	<body>
		<a href='/admin'>Back to studies</a><br>
		<div class='container'>
			<div id='myDiv'></div>
		</div>
		<script>
		var data = [{
			type: 'bar',
			x: <%- JSON.stringify(counts) %>,
			y: <%- JSON.stringify(words) %>,
			orientation: 'h',
		}];
		var layout = {
			title: '<%=study.title %> Results',
			autosize: true,
			margin: {
				l: 150,
				pad: 5,
			},
		};

		Plotly.newPlot('myDiv', data, layout);

		</script>
	</body>
</html>
