<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>

		<title>Desire Results</title>
		
	</head>
	<body>
		<a href='/admin'>Back to studies</a><br>
		
		<%- JSON.stringify(study.responses) %>
		
	</body>
</html>
