<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>

		<link rel="stylesheet" type="text/css" href="../productcards.css" />
		
		<nav  style='margin-bottom: 0px;' class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<span class='navbar-brand'>Desirability Exercise</span>
			    <ul class='nav navbar-nav' id='cardsort-navbar'></ul>
			</div>
		</nav>
	</head>
	<body>
		<input id='hiddenWords' type='text' value="<% for(var i=0; i<singleStudy.data.words.length; i++) {%><%= singleStudy.data.words[i] %>;<% } %>">
		<input id='hiddenActive' type='text' value="<%= singleStudy.active %>">

		<script type="text/javascript" src="../productcards.js"/></script>

		<form method="POST" action="/submitproductreaction">
			<input name="id" id='id' type='text' hidden value="<%= singleStudy._id %>"></input>
			<input name="result" id='hiddenResults' type='text' hidden></input>
			<button type="submit" id='submitForm' hidden>Add</button>
		</form>
		<div class='container'>
			<div id="textArea">Select at least 10 cards that represent your experience with the system.</div>
			<div id="cardArea"></div>
			<button class='btn btn-primary btn-lg btn-right' id='nextBtn'>Next</button>
			<button class='btn btn-primary btn-lg btn-right' id='done'>Finish</button>
		</div>
	</body>
</html>
