<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
	<a href='/admin' class='navbar-brand'>Kort</a>
	    <ul class='nav navbar-nav'>
	    	<li><a href='/studies'><i class="fa fa-list-alt" aria-hidden="true"></i>  Studies</a></li>
	    	<li><a href='/usermanagement'><i class="fa fa-users" aria-hidden="true"></i>  Users</a></li>
		</ul>
		<ul class='nav navbar-nav' style='float:right'>
			<li><a href='/logout'><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
		</ul>
	</div>
</nav>
