<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
	<a href='/admin' class='navbar-brand'>Kort</a>
	    <ul class='nav navbar-nav'>
	    	<li><a href='/studies'><span class="glyphicon glyphicon-list-alt"> Studies</span></a></li>
	    	<li><a href='/usermanagement'><span class="glyphicon glyphicon-user"> User Management</span></a></li>
		</ul>
		<ul class='nav navbar-nav' style='float:right'>
			<li><a href='/logout'><span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
		</ul>
	</div>
</nav>
