<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
	<a href ='/admin' class='navbar-brand'>Kort</a>
	    <ul class='nav navbar-nav'>
	    	<li><a href='/studies'>Studies</a></li>
	    	<li><a href='/admin'>Users</a></li>
		</ul>
	</div>
</nav>