<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
	<a href ='/admin' class='navbar-brand'>Kort</a>
	    <ul class='nav navbar-nav'>
	    	<li><a href='/admin/cardsort'>Card Sorts</a></li>
	    	<li><a href='/admin/treetest'>Tree Tests</a></li>
	    	<li><a href='/admin/productreaction'>Product Reactions</a></li>
		</ul>
	</div>
</nav>