 <%if (singleStudy.completeResponses.length > 0) { %>
<div class="alert alert-danger">
	<h4><strong>Responses have been recieved.</strong></h4>
	<p>Making changes to study content may lead to inconsistent results.</p>
</div>
<% } %>