<h3>Raw Data by Response</h3>
<hr>
<table id='results_table'>
	<thead>
		<tr>
			<th>Response #</th>
			<th>Title / Name</th>
			<th>Date Submitted</th>
			<th>Data</th>
		</tr>
	</thead>
	<% for(var i=0; i<study.completeResponses.length; i++) {%>
		<tr>
			<td><%= i+1 %></td>
			<td><%= study.completeResponses[i].title %></td>
			<td><%= study.completeResponses[i].getDateStr() %></td>
			<td><%= JSON.stringify(study.completeResponses[i].data) %>;</td>
		</tr>
	<% } %>
</table>