<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: Administration</title>
	</head>
	<body>
		<%- include('partials/admin_header.ejs') %>
		<div class='container'>
			<h2>Study Types</h2>
			<br>
			
			 <div class="row">
			  <div class="col-sm-4">
				<h3>Card Sorting</h3>
				Users categorize cards into different groups which can be helpful in understanding information architecture.
			  </div>
			  
			  <div class="col-sm-4">
				<h3>Tree Testing</h3>
				The reverse of card sorting, users traverse an information architecture tree in order to see
				how well they are able to find items.
			  </div>
			  
			  <div class="col-sm-4">
				<h3>Product Reactions</h3>
				Users select descriptive words from a list.
			  </div>
			</div>
			
			<br><hr>
			
			<div class="row">
				<div class="col-sm-12" align="center">
					<a class="btn btn-lg btn-primary" href="/studies/">Get Started!</a>
				</div>
			</div>
		</div>
		
	</body>
</html>
