<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>


		<title>Kort: Administration</title>

	</head>
	<body>
	
	<h1>Kort: Administration</h1>
	
	<a href="../admin/cardsort">Card Sort</a> |
	<a href="../admin/treetest">Tree Test</a> |
	<a href="../admin/productreaction">Product Reaction</a>


	</body>
</html>
