<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: Administration</title>
	</head>
	<body>
		<%- include('partials/admin_header.ejs') %>
		<div class='container'>
			<h1>Administration</h1>
			<ul>
			<li>Set Up User Account Scheme</li>
			<li>Set Up System for Sharing Studies with multiple users</li>
			</ul>
		</div>
		
	</body>
</html>
