<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: Administration</title>
	</head>
	<body>
		<%- include('partials/admin_header.ejs') %>
		<div class='container'>
			<h2>Welcome to Kort</h2>
			Kort is a simple webapp to help you conduct card sorting, tree testing, and product reaction studies.
			<br>
			<br>
			<div class="row">
				<div class="col-sm-4">
					<p class="studyTitle">Card Sorting</p>
					Users categorize cards into different groups which can be helpful in understanding information architecture.
				</div>
				<div class="col-sm-4">
					<p class="studyTitle">Tree Testing</p>
					The reverse of card sorting, users traverse an information architecture tree in order to see
					how well they are able to find items.
				</div>
				<div class="col-sm-4">
					<p class="studyTitle">Product Reactions</p>
					Users select descriptive words from a list.
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-12" align="center">
					<a class="btn btn-default" href="/studies/">Get Started</a>
				</div>
			</div>
		</div>
		
	</body>
</html>
