<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>

		<!-- include Dragula CSS (makes ghosting work)-->
		<script type="text/javascript" src="../dragula/dragula.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../dragula/dragula.css" />
		
		<!-- include custom CSS -->
		<link rel="stylesheet" type="text/css" href="../cardsort.css" />

		<title>Cardsort</title>
	</head>
	<body>
		<input id='hiddenGroups' type='text' value="<% for(var i=0; i<singleStudy.groups.length; i++) {%><%= singleStudy.groups[i] %>,<% } %>">
		<input id='hiddenCards' type='text' value="<% for(var i=0; i<singleStudy.cards.length; i++) {%><%= singleStudy.cards[i] %>,<% } %>">
		<input id='hiddenType' type='text' value="<%= singleStudy.studyType %>">

		<div id="mySidenav" class="sidenav">
			<a id='closeMenu' href="javascript:void(0)" class="closebtn" >&times;</a>
			<a id='addItem' href="#">Add Item</a>
			<a id='exportJSON' href="#">Export JSON</a>
			<div class="textEntry">
				<a>Cards</a>
				<textarea id='cardsList'></textarea>
				<button id="addCardsButton">Add Cards</button>
			</div>
			<div class="textEntry">
				<a>Groups</a>
				<textarea id='groupsList'></textarea>
				<button id="addGroupsButton">Add Groups</button>
			</div>
		</div>

		<!-- starts Dragula object and adds onclick events for buttons -->
		<script type="text/javascript" src="../cardsort.js"></script>
		
		<div id='header'>
			<div id='title'>
				<span id='hamburger'>&#9776;</span>
				CardSort
			</div>
			<button id="newGroupButton" hidden>Add Group</button>
		</div>

		<div id="initialColumn" class="column-area-primary accepts-items nested">
			<!-- <div class="item">One</div> -->
		</div>
		<div id='dropZonesPlace'>
			<div id="dropZone1" class="column-area-secondary accepts-groups nested">

			</div>
		</div>
	</body>
</html>
