<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<!-- include Dragula CSS (makes ghosting work)-->
		<link rel="stylesheet" type="text/css" href="../dragula/dragula.css" />
				<!-- include custom CSS (not Dragula) -->
		<link rel="stylesheet" type="text/css" href="../kort.css" />
		<link rel="stylesheet" type="text/css" href="../cardsort.css" />
		<!-- include Dragula Script -->
		<script type="text/javascript" src="../dragula/dragula.min.js"></script>
		<!-- Include JQuery -->
		<script type="text/javascript" src="../jquery/jquery-3.2.1.min.js"></script>
		<!-- Include Bootstrap -->
		<script type="text/javascript" src="../bootstrap/bootstrap-3.3.7.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap-theme.min.css" />
		<!-- Include JQuery UI for uid-->
		<script type="text/javascript" src="../jquery-ui/jquery-ui-1.12.1.min.js"></script>
		<!-- font awesome-->
		<link rel="stylesheet" type="text/css" href="../font-awesome/font-awesome.min.css" />

		<title>Cardsort</title>
	</head>
	<body>
		<input id='hiddenGroups' type='text' value="<% for(var i=0; i<singleStudy.groups.length; i++) {%><%= singleStudy.groups[i] %>,<% } %>">
		<input id='hiddenCards' type='text' value="<% for(var i=0; i<singleStudy.cards.length; i++) {%><%= singleStudy.cards[i] %>,<% } %>">
		<input id='hiddenType' type='text' value="open">

		<div id="mySidenav" class="sidenav">
			<a id='closeMenu' href="javascript:void(0)" class="closebtn" >&times;</a>
			<a id='addItem' href="#">Add Item</a>
			<a id='exportJSON' href="#">Export JSON</a>
			<div class="textEntry">
				<a>Cards</a>
				<textarea id='cardsList'></textarea>
				<button id="addCardsButton">Add Cards</button>
			</div>
			<div class="textEntry">
				<a>Groups</a>
				<textarea id='groupsList'></textarea>
				<button id="addGroupsButton">Add Groups</button>
			</div>
		</div>

		<!-- starts Dragula object and adds onclick events for buttons -->
		<script type="text/javascript" src="../cardsort.js"></script>
		
		<div id='header'>
			<div id='title'>
				<span id='hamburger'>&#9776;</span>
				CardSort
			</div>
			<button id="newGroupButton">Add Group</button>
		</div>

		<div id="initialColumn" class="column-area-primary accepts-items nested">
		</div>
		<div id='dropZonesPlace'>
			<div id="dropZone1" class="column-area-secondary accepts-groups nested">

			</div>
		</div>
	</body>
</html>
