<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<!-- Include JQuery -->
		<script type="text/javascript" src="../jquery/jquery-3.2.1.min.js"></script>
		<!-- Include Bootstrap -->
		<script type="text/javascript" src="../bootstrap/bootstrap-3.3.7.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap-theme.min.css"/>
		<!-- Include Bootstrap -->
		<link rel="stylesheet" type="text/css" href="../kort.css" />

		<title>Edit Page</title>
		<style>
			body {
				padding-left: 25px;
			}
		</style>
		
	</head>
	<body>
		<a href='/admin'>back to studies</a>
		<form method="POST" action="/updateCardsort/<%= study._id %>">
			<span style="display:inline-block">
				<label for="title" style="display:block">Cardsort Title</label>
				<input name="title" id='title' type="text" value="<%= study.title %>"></input>
			</span>
			<br>
			<span style="display:inline-block">
				<label for="cards" style="display:block">Cards</label>
				<textarea name="cards" rows="25" cols="20" id='cards'><%= study.cards %></textarea>
			</span>
			<span style="display:inline-block">
				<label for="groups" style="display:block">Groups</label>
				<textarea name="groups" rows="25" cols="20" id='groups'><%= study.groups %></textarea>
			</span>
			<br>
			<input type="submit" value="Update" />
		</form>

	</body>
</html>
