<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort</title>
		<style>
		.siteTitle {
			font-size: 125px;
			letter-spacing: 20px;
			color:rgb(0,158,195);
		}
		.container {
			margin-top: 50px;
		}
		</style>
	</head>
	<body>
		<div class="container">
			<div class='well well-lg'>
				<div class='row'>
					<div class='col-md-6 text-center'>
						<span class='siteTitle'>Kort</span>
					</div>
					<div class='col-md-6'>
						<%- include('partials/login.ejs') %>
					</div>	
				</div>
			</div>
			<Br>
			<div class='row'>
				<div class='col-md-4 text-center'>
					<b>What is Kort?</b>
					<br>
					<span>Card sorting is a method used to help design or evaluate the information architecture of a site. In a card sorting session, participants organize topics into categories that make sense to them and they may also help you label these groups.</span>
				</div>
				<div class='col-md-4 text-center'>
					<b>What is Card Sorting?</b>
					<br>
					<span>Tree testing is a usability technique for evaluating the findability of topics in a website. It is also known as reverse card sorting or card-based classification. A large website is typically organized into a hierarchy (a "tree") of topics and subtopics.</span>
				</div>	
				<div class='col-md-4 text-center'>
					<b>What is Tree Testing?</b>
					<br>
					<span>Tree testing is a usability technique for evaluating the findability of topics in a website. It is also known as reverse card sorting or card-based classification. A large website is typically organized into a hierarchy (a "tree") of topics and subtopics.</span>
				</div>	
			</div>
								
		</div>
	</body>
</html>
