<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort</title>
		<script type="text/javascript" src="/js/index.js"></script>
	</head>
	<body class="background-white">
		<div class="container">
			<div class="well">
				<div class='row'>
					<div class='col-md-12'>
						<div id="siteTitle" class='text-center'>KORT</div>
					</div>
				</div>
				<div class="row">
					<div class='col-md-12'>
						<div id="siteSubtitle" class="text-center ">Tools for user experience (UX) research methods</div>
					</div>
				</div>
				<div class='row'>
					<% if (allowGoogleAuth) { %>
					<div class='col-md-4 col-md-offset-1'>
					<% } else { %>
					<div class='col-md-4 col-md-offset-4' >
					<% } %>
						
						<form class="form-horizontal" action="/login" method="post">

							<div class="form-group">
								<h4>Login with a local account</h4>
								<h4 class='text-center'></h4>
								<div class="inputGroupContainer">
									<input name="email" placeholder="Email" class="form-control" type="text" />
							  	</div>
							</div>
							<div class="form-group">
								<div class="inputGroupContainer">
									<input name="password" placeholder="Password" class="form-control" type="password" />
							  	</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Login</button>
							</div>
							<% if (logout) { %>
								<div class="alert alert-success logoutMessage">Logout successful.</div>
							<% } %>
							<% if (loginMessage.length > 0) { %>
								<div class="alert alert-danger loginMessage"><%= loginMessage %></div>
							<% } %>
						</form>
					</div>
					<% if (allowGoogleAuth) { %>
					<div class='col-md-2'>
						<div class="vl"></div>
					</div>
					<div class='col-md-4' >
						<h4>Or login with Google</h4>
						<a href="/auth/google" class="btn btn-success center-block">Login with Google <span class="fa fa-google-plus"></span></a>
					</div>
					<% } %>
				</div>
			</div>	
			<% if (version.length > 0) { %>
				<a id="version" class="pull-right" href="https://www.github.com/carlsonp/kort/">Version: <%= version %></a>
			<% } %>
		</div>
	</body>
</html>

