<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>


		<title>Kort</title>
	</head>
	<body>
		<a href="cardsort">Cardsort</a> |
		<a href="treetest">Tree Test</a> |
		<a href="productcards">Product Cards</a>
		<br>
		<a href="admin">Admin page</a>
	</body>
</html>
