<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">

		<title>Kort</title>
	</head>
	<body>
		<a href="cardsort">Cardsort</a> |
		<a href="treetest">Tree Test</a> |
		<a href="productcards">Product Cards</a>
	</body>
</html>
