<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>


		<title>Kort</title>
	</head>
	<body>
		<h1>Kort Homepage</h1>		

		<a href="admin">Admin page</a> |
		<a href="login">Login</a>
	</body>
</html>
