<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title><%= titleline %></title>
	</head>
	<body class="background-gray">
		<div class="container text-center">
			<h1 style="color:#FFC107;"><%= titleline %></h1>
			<p style="color: white;font-size: 20px;"><%= msg %></p>
		</div>
	</body>
</html>

