<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Kort: Overview</title>
		<meta name="Description" content="Kort overview page">
	</head>
	<body class="background-white">
		<%- include('partials/admin_header.ejs') %>
		<div class='container'>
			<h1>Overview</h1>
			<p>Kort is an application for conducting a variety of UX research methods.</p>
			<p><i>Ready to get started?</i></p>
			
			<p><a class="btn btn-secondary" role="button" href="/studies" id="gostudies">Go to Studies</a></p>
			<hr>
			<div class="row">
				<div class="col-sm-8">
					<h3 class="header">Card Sorting</h3>
					<p>Card sorting is a method for learning how people group concepts. There are two primary types: <i>open</i> and <i>closed</i> card sorts. In <i>open</i> card sorts, participants are asked to group a set of concepts using their own created groups. In <i>closed</i> card sorts, participants must organize a set of concepts with a predefined set of groups.</p>
				</div>
				<div class="col-sm-4">
				<p>Learn more:</p>
					<ul>
						<li><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Card_sorting">Card Sorting - Wikipedia</a></li>
						<li><a target="_blank" rel="noopener" href="https://www.usability.gov/how-to-and-tools/methods/card-sorting.html">Card Sorting - Usability.gov</a></li>
						<li><a target="_blank" rel="noopener" href="https://www.interaction-design.org/literature/book/the-encyclopedia-of-human-computer-interaction-2nd-ed/card-sorting">Card Sorting - Interaction Design Foundation</a></li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-8">
					<h3 class="header">Tree Testing</h3>
					<p>Tree testing is a method for validating hierarchical information structures (e.g. navigation). Participants attempt to complete a set of tasks - where each requires the finding of something within the hierarchical structure. Tree testing is also referred to as <i>reverse card sorting</i>.</p>
				</div>

				<div class="col-sm-4">
					<p>Learn more:</p>
					<ul>
						<li><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Tree_testing">Tree Testing - Wikipedia</a></li>
						<li><a target="_blank" rel="noopener" href="https://www.userzoom.com/uxguide/10-tips-conducting-successful-tree-testing/">10 Tips for Conducting Successful Tree Testing - UserZoom</a></li>
						<li><a target="_blank" rel="noopener" href="https://measuringu.com/tree-testing-ia/">Using Tree-Testing To Test Information Architecture - MeasuringU</a></li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-8">
					<h3 class="header">Product Reaction Cards</h3>
					<p>Originally developed by Microsoft&trade;, product reaction cards is a simple method for eliciting desirability qualities of a system or product. The participant is asked to select any number of words from a predefined list that represents their experience with a system or product and explain why each word was chosen.</p>
				</div>
				<div class="col-sm-4">
					<p>Learn more:</p>
					<ul>
						<li><a target="_blank" rel="noopener" href="http://www.uxforthemasses.com/product-reaction-cards/">Capturing user feedback with Microsoft’s product reaction cards - UXM</a></li>
						<li><a target="_blank" rel="noopener" href="https://www.microsoft.com/usability/UEPostings/ProductReactionCards.doc">Product Reaction Cards - Microsoft (doc)</a></li>
						<li><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Microsoft_Reaction_Card_Method_(Desirability_Testing)">Microsoft Reaction Card Method - Wikipedia</a></li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-8">
					<h3 class="header">System Usability Scale (SUS)</h3>
					<p>The System Usability Scale (SUS) is an inexpensive way to measure the usability of a website or application. Participants answer a set of 10 likert questions about their experience with the system. For each question the participant indicates the extent to which they agree or disagree with the statement. The end result is a score (not percentage) ranging from 0 - 100.</p>
				</div>
				<div class="col-sm-4">
					<p>Learn more:</p>
					<ul>
						<li><a target="_blank" rel="noopener" href="https://measuringu.com/sus/">Measuring Usability with the System Usability Scale (SUS) - Jeff Sauro</a></li>
						<li><a target="_blank" rel="noopener" href="https://www.usability.gov/how-to-and-tools/methods/system-usability-scale.html">System Usability Scale - Usability.gov</a></li>
						<li><a target="_blank" rel="noopener" href="https://usabilitygeek.com/how-to-use-the-system-usability-scale-sus-to-evaluate-the-usability-of-your-website/">How To Use The System Usability Scale (SUS) To Evaluate The Usability Of Your Website - Usability Geek</a></li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-8">
					<h3 class="header">Net Promoter Score (NPS)</h3>
					<p>The Net Promoter Score (NPS) is a measure to indicate the willingness of customers to recommend your product or service to others. NPS is a single question that asks the participant how likely they are to recommend a product/service on a scale of 0-10. The scale is divided between detractors (1-6), passives (7 or 8), and promoters (9 or 10).</p>
				</div>
				<div class="col-sm-4">
					<p>Learn more:</p>
					<ul>
						<li><a target="_blank" rel="noopener" href="https://www.netpromoter.com/know/">What is Net Promoter? - Net Promoter Network</a></li>
						<li><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Net_Promoter">Net Promoter - Wikipedia</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
