<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<!-- Include JQuery -->
		<script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
		<!-- Include Bootstrap -->
		<script type="text/javascript" src="bootstrap/bootstrap-3.3.7.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap-theme.min.css"/>
		<!-- font awesome-->
		<link rel="stylesheet" type="text/css" href="font-awesome/font-awesome.min.css" />
		<!-- custom css -->
		<link rel="stylesheet" type="text/css" href="kort.css" />
		<link rel="stylesheet" type="text/css" href="productcards.css" />
		<title>Product Reaction Cards</title>
	</head>
	<body>
		<script type="text/javascript" src="productcards.js"/></script>
		<div id="header">
			<div id="title">Product Reaction Cards</div>
		</div>
		
		<div id="textArea">Select at least 10 cards that represent your experience with the system.</div>
		
		<div id="cardArea"></div>
		<button id='next'>Next</button>
	</body>
</html>
