<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/header.ejs') %>
		<title>Can't find study :(</title>
	</head>
	<body>
		<div class="container">
		<h1>Sorry, can't find that study :(</h1>
		Sorry about that. Thanks for your interest. 
		</div>
	</body>
</html>

