<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<!-- Include JQuery -->
		<script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
		<!-- Include Bootstrap -->
		<script type="text/javascript" src="bootstrap/bootstrap-3.3.7.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap-theme.min.css" />
		<!-- Include Bootstrap Treeview -->
		<link rel="stylesheet" type="text/css" href="bootstrap-treeview/bootstrap-treeview.min.css"/>
		<script type="text/javascript" src="bootstrap-treeview/bootstrap-treeview.min.js"/></script>
		<!-- custom css -->
		<link rel="stylesheet" type="text/css" href="kort.css" />
		<link rel="stylesheet" type="text/css" href="treetest.css" />
	
		<title>Kort Treetest</title>
	</head>
	
	<body>
		<script type="text/javascript" src="treetest.js"/></script>

		<div id="header">
			<div id="title">Kort TreeTest</div>
		</div>

		<div id="taskDesc"></div>
	
		<ul id="taskList"></ul>
		
		<div id="treeArea">
			<!--input field hidden-->
			<input type="file" id="fileInput" style="display: none;"/>
			<!--button that redirects the click (for UI purposes)-->
			<button id="fileInputButton">Add Tasks from File</button>
			<button id="prevTaskButton">Previous Task</button>
			<button id="nextTaskButton">Next Task</button>
			<div id="tree"></div>
		</div>
	</body>
</html>
