<div class='well'>
<label>Status</label>
<%if (singleStudy.status == 'open') { %>
	<div class="radio">
		<label><input type="radio" name="status" value='open' checked>Accepting responses</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="status" value='closed'>Not accepting responses</label>
	</div>
<% } else { %> 
	<div class="radio">
		<label><input type="radio" name="status" value='open'>Accepting responses</label>
	</div>
	<div class="radio">
		<label><input type="radio" name="status" value='closed' checked>Not accepting responses</label>
	</div>
<% } %>
</div>
