<div class='well'>
<label for="title">Title</label>
<br>
<div class="inputGroupContainer">
<input style='width:100%' name="title" id='title' type="text"  class="form-control" value="<%= singleStudy.title %>" />
</div>
</div>

