<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/header.ejs') %>

		<link rel="stylesheet" type="text/css" href="/css/sus.css" />

		<nav  style='margin-bottom: 0px;' class="navbar navbar-default navbar-static-top">
			<div class="container-fluid sus_topbar">
				<span class='navbar-brand'><%= singleStudy.title %></span>
			    <ul class='nav navbar-nav' id='cardsort-navbar'></ul>
			</div>
		</nav>
	</head>
	<body>		
		<script type="text/javascript" src="/js/sus.js"/></script>

		<div class='container'>
			<form method="POST" id="susForm" action="/submitResult">
				<input name="resid" id='resid' type='text' hidden value="<%= response %>" />
				<input name="id" id='id' type='text' hidden value="<%= singleStudy._id %>" />
				<input name="result" id='hiddenResults' type='text' hidden>
				<div class="question">
					<p>1. I think that I would like to use this system frequently.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="1" value=1>
					<input class="radio-inline" type="radio" name="1" value=2>
					<input class="radio-inline" type="radio" name="1" value=3>
					<input class="radio-inline" type="radio" name="1" value=4>
					<input class="radio-inline" type="radio" name="1" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>
				</div>

				<div class="question">
					<p>2. I found the system unnecessarily complex.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="2" value=1>
					<input class="radio-inline" type="radio" name="2" value=2>
					<input class="radio-inline" type="radio" name="2" value=3>
					<input class="radio-inline" type="radio" name="2" value=4>
					<input class="radio-inline" type="radio" name="2" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>			
				</div>
				<div class="question">
				<p>3. I thought the system was easy to use.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="3" value=1>
					<input class="radio-inline" type="radio" name="3" value=2>
					<input class="radio-inline" type="radio" name="3" value=3>
					<input class="radio-inline" type="radio" name="3" value=4>
					<input class="radio-inline" type="radio" name="3" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>
				</div>
				<div class="question">
					<p>4. I think that I would need the support of a technical person to be able to use this system.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="4" value=1>
					<input class="radio-inline" type="radio" name="4" value=2>
					<input class="radio-inline" type="radio" name="4" value=3>
					<input class="radio-inline" type="radio" name="4" value=4>
					<input class="radio-inline" type="radio" name="4" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>
				</div>
				<div class="question">
				<p>5. I found the various functions in this system were well integrated.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="5" value=1>
					<input class="radio-inline" type="radio" name="5" value=2>
					<input class="radio-inline" type="radio" name="5" value=3>
					<input class="radio-inline" type="radio" name="5" value=4>
					<input class="radio-inline" type="radio" name="5" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>
				</div>
				<div class="question">
					<p>6. I thought there was too much inconsistency in this system.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="6" value=1>
					<input class="radio-inline" type="radio" name="6" value=2>
					<input class="radio-inline" type="radio" name="6" value=3>
					<input class="radio-inline" type="radio" name="6" value=4>
					<input class="radio-inline" type="radio" name="6" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>
				</div>
				<div class="question">
					<p>7. I would imagine that most people would learn to use this system very quickly.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="7" value=1>
					<input class="radio-inline" type="radio" name="7" value=2>
					<input class="radio-inline" type="radio" name="7" value=3>
					<input class="radio-inline" type="radio" name="7" value=4>
					<input class="radio-inline" type="radio" name="7" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>
				</div>
				<div class="question">
					<p>8. I found the system very cumbersome to use.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="8" value=1>
					<input class="radio-inline" type="radio" name="8" value=2>
					<input class="radio-inline" type="radio" name="8" value=3>
					<input class="radio-inline" type="radio" name="8" value=4>
					<input class="radio-inline" type="radio" name="8" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>
				</div>
				<div class="question">
					<p>9. I felt very confident using the system.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="9" value=1>
					<input class="radio-inline" type="radio" name="9" value=2>
					<input class="radio-inline" type="radio" name="9" value=3>
					<input class="radio-inline" type="radio" name="9" value=4>
					<input class="radio-inline" type="radio" name="9" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>
				</div>
				<div class="question">
				<p>10. I needed to learn a lot of things before I could get going with this system.</p>
					<label class="radio-inline control-label">Strongly Disagree</label>
					<input class="radio-inline" type="radio" name="10" value=1>
					<input class="radio-inline" type="radio" name="10" value=2>
					<input class="radio-inline" type="radio" name="10" value=3>
					<input class="radio-inline" type="radio" name="10" value=4>
					<input class="radio-inline" type="radio" name="10" value=5>
					<label class="radio-inline control-label">Strongly Agree</label>
				</div>
			</form>
			<button type="button" id="submitForm" class="btn btn-default disabled">Submit</button>
		</div>
	</body>
</html>
