body {
	background-color:#546E7A;
	font-family: 'Open Sans', sans-serif;
	color:white;
}
h1.title {
	font-size: 65px;
	font-weight: 300;
	margin:0;
	color: #FFC107;
	letter-spacing: 5px;
}

.amber {
	color: #FFC107;
}

.topText {
	color:#cfd8dc;
	font-weight: 300;
	font-size: 38px;
	margin-top: 20px;
}

h1 {
	font-size: 25px;
	color: white;
	padding-left: 0px;
	margin-left: 0px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: .4;
}

p {
	font-size: 16px;
}

p.subtitle{
	margin-bottom: 0px;
	margin-top: 10px;
}
body .header {
	background-color: #455A64;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
}
body .footer {
	background-color: #455A64;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
.section {
	border-left: 2px solid #ffc107;
	margin-bottom: 30px;
}

img {
	border: 1px solid #B0BEC5;
}

a, a:visited {
	color: white;
	text-decoration: underline;
}
a:hover {
	color: #ECEFF1;
}

